@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400&family=Tajawal:wght@300;400;700&display=swap");
:root {
	--anim-time: 0.5s;
}
body {
	background-color: #f0ebeb;
	font-family: "Lato", sans-serif;
}
main {
	padding: 30px;
}
main h1,
h3 {
	color: #6c3838;
	text-align: center;
}
main h3 {
	font-weight: 400;
}
#grid {
	display: grid;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, 200px);
}
img {
	width: 200px;
	height: 200px;
	border-radius: 15px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transition: all var(--anim-time) ease-in-out;
}

img:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transform: scale(1.05);
}
img.flipped {
	transition: var(--anim-time) ease-in-out;
}

img.white {
	transition: 0.4s ease-in-out;
	transform: rotateY(-180deg) scale(0.001);
	box-shadow: none;
	visibility: hidden;
}
.overlay {
	background-color: inherit;
	display: none;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 600px) {
	main {
		padding: 5px;
	}
	#grid {
		align-items: center;
		justify-content: center;
		gap: 10px;
		grid-template-columns: repeat(auto-fit, 100px);
	}
	img {
		width: 100px;
		height: 100px;
	}
	img:hover {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		transform: none;
	}
}
